<h1>Welcome to <%= @crm_app_name %></h1>
<p>You've got options. Pick something:</p>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">Create new contact</a></li>
	<li><a href="/contacts/delete">Delete an existing contact</a></li>
	<li><a href="/contacts/1000">Display a contact</a></li>

	</ul>

	<footer></footer>