<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <nav>
  <li>First Name<input type="text" name="first_name"></li>
  <li>Last Name<input type="text" name="last_name"></li>
  <li>Email<input type="text" name="email"></li>
  <li>Notes<input type="text" name="note"></li>
  <input type="submit" name="Submit">
  </nav>
</form>