body {
	background-color: #B87A00;
	color: #1500DC;
}

ul {
	list-style: none;
}

.people {
	font-weight: 900;
	box-shadow: 10px 10px 35px #9E5E29;
	padding: 10px 10px;
}


/*Color picker, press command shift c, and */